div {
  font-family: sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 70px;
}
.card-container {
  width: 80px;
  height: 125px;
  padding: 10px;
  border: 3px solid gold;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
img {
  height: 55%;
  width: 90%;
  padding: 0px;
  margin: 0px;
  border: 5px yellow outset;
  box-shadow: 3px 3px 10px #000;
}
.name {
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.hp {
  color: crimson;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}
.grass {
  background: linear-gradient(to bottom right, #aae5b7,#78cf8b,#4fb665,#319d49,#4fb665,#78cf8b);
}
.fire {
  background: linear-gradient(to bottom right, #ffbfba,#ff978f,#ff756b,#ff594c,#ff756b,#ff978f);
}
.lightning {
  background: linear-gradient(to bottom right, #ffffa4,#fff870,#fff200,#fff870,#ffffa4,#fff870);
}
.none {
  background: linear-gradient(to bottom right, #E4E6E5,#D3D5D3,#C1C4C1,#BCBDBC,#D3D5D3,#C7CAC7);
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fight {
  width: 90px;
    height: 40px;
    background-color: orangered;
    border-radius: 7px;
    border: 2px solid darkred;
    color: white;
    cursor: pointer;
}
.winner {
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}